{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/tasks/task-detail.css' %}">
{% endblock %}

{% block content %}
  <section>
    <h1 class="task-name">{{ task.name }}</h1>
    <div>
      <h2 class="task-description"><strong>Description:</strong> {{ task.description }}</h2>
      <h2 class="task-date"><strong>Date Assigned:</strong> {{ task.date|date:"d/m/Y" }}</h2>
      <h2 class="task-duration"><strong>Duration(minutes):</strong> {{ task.duration }} minutes</h2>
      <h2 class="task-progress"><strong>Progress:</strong> {{ task.get_progress_display }}</h2>
      <div class="task-actions">
        <a href="{% url 'task-update' task.id %}">Edit</a>
        <a href="{% url 'task-delete' task.id %}">Delete</a>
      </div>
    </div>
  </section>

  <section class="task-tags">
    <h2 class="tags-header">Tags</h2>
    <div>
      <h3 class="assigned-tags-header">Assigned Tags</h3>
      {% if task.tags.count %}
        {% for tag in task.tags.all %}
          <div class="tag-item">
            <span class="tag-name" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
            <form action="{% url 'remove-tag' task.id tag.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="remove-tag">Remove Tag</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ task.name }} doesn't have any tags!</p>
      {% endif %}
    </div>

    <h3 class="available-tags-header">Available Tags</h3>
    <div>
      {% if tags %}
        {% for tag in tags %}
          <div class="tag-item">
            <span class="tag-name" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
            <form action="{% url 'associate-tag' task.id tag.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="assign-tag">Give Tag</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p>No available tags!</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
