{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/tasks/task-index.css' %}">
{% endblock %}

{% block content %}
<section>
    <h1>All Tasks</h1>
    <div>
        {% for task in tasks %}
        <a href="{% url 'task-detail' task.id %}">
            <h2>{{ task.name }}</h2>
        </a>
        {% endfor %}
    </div>

    <h1>Create a New Task</h1>
    <form action="{% url 'task-create' %}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ task_form.as_p }}
        <button type="submit">Save Task</button>
    </form>
</section>
{% endblock %}
