{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/tasks/task-index.css' %}">
<script defer src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
<section>
    <h1>All Tasks</h1>

    
    <div>
        {% for task in tasks %}
        <a href="{% url 'task-detail' task.id %}" class="task-item">
            <h2>{{ task.name }}</h2>
        </a>
        {% endfor %}
    </div>

    <input type="text" id="searchbar" placeholder="Search for a specific task here!">
    <button onclick="clearSearchResults(); filterTasks()">Search</button>
    <h2>Search Results:</h2>
    <div id="search-results">
    </div>


    <h1>Create a New Task</h1>
    <form action="{% url 'task-create' %}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ task_form.as_p }}
        <button type="submit">Save Task</button>
    </form>
</section>
{% endblock %}
