{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/tasks/weeklyview.css' %}"/>
{% endblock %}

{% block content %}
    <h1>Tasks for the Week: {{ start_of_week|date:'d/m/Y' }} - {{ end_of_week|date:'d/m/Y' }}</h1>
    <p>
        <a href="?now={{ prev_week }}">Previous Week</a> |
        <a href="?now={{ current_week }}">Current Week</a> |
        <a href="?now={{ next_week }}">Next Week</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    <div class="day-name">{{ monday|date:'l' }}</div>
                    <div class="date">{{ monday|date:'d/m/Y' }}</div>
                </th>
                <th>
                    <div class="day-name">{{ tuesday|date:'l' }}</div>
                    <div class="date">{{ tuesday|date:'d/m/Y' }}</div>
                </th>
                <th>
                    <div class="day-name">{{ wednesday|date:'l' }}</div>
                    <div class="date">{{ wednesday|date:'d/m/Y' }}</div>
                </th>
                <th>
                    <div class="day-name">{{ thursday|date:'l' }}</div>
                    <div class="date">{{ thursday|date:'d/m/Y' }}</div>
                </th>
                <th>
                    <div class="day-name">{{ friday|date:'l' }}</div>
                    <div class="date">{{ friday|date:'d/m/Y' }}</div>
                </th>
                <th>
                    <div class="day-name">{{ saturday|date:'l' }}</div>
                    <div class="date">{{ saturday|date:'d/m/Y' }}</div>
                </th>
                <th>
                    <div class="day-name">{{ sunday|date:'l' }}</div>
                    <div class="date">{{ sunday|date:'d/m/Y' }}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == monday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == tuesday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == wednesday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == thursday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == friday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == saturday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol>
                        {% for task in tasks %}
                            {% if task.date == sunday %}
                                <li><a href="{% url 'task-detail' pk=task.pk %}">{{ task.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
