{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    
{% endblock %}

{% block content %}
    <div class="taskflow-welcome">
        <h1>Welcome to TaskFlow</h1>
        <h2>Your Personal Productivity Hub</h2>
        <p>TaskFlow is an intuitive app that helps you organize tasks, set priorities, and visualize your workload. With features like task creation, an all-tasks index, a weekly view, and customizable tags, TaskFlow makes it easy to stay on top of your goals and projects.</p>
    </div>
{% endblock %}