{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Flow</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header">
            <h1 class="brand">Taskflow:Streamline Your Workflow with Taskflow</h1>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'task-index' %}">All tasks</a></li>
                    <li><a href="{% url 'tag-index' %}">All Tags</a></li>
                    <li><a href="{% url 'weekly-view' %}">Weekly View</a></li>
                    <li><a href="{% url 'task-create' %}">Add a task</a></li>
                    <li><a href="{% url 'tag-create' %}">Add a Tag</a></li>
                    <li><a href="{% url 'about'%}">About</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Log out</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'home' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
        
    </header>
    {% if user.is_authenticated%}
            <p>Hey, {{ user.username }}! Let's get things done!</p>
        {% else %}
            <p>Welcome to TaskFlow! Please log in or Sign up!</p>
        {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>