{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<section class="welcome">
    <h1>Welcome to TaskFlow</h1>
    <p>Your Personal Productivity Hub</p>
</section>

{% if not user.is_authenticated %}
<section class="login">
    <form class="login-form" action="{% url 'home' %}" method="post">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{next}}"/>
        <button type="submit" class="submit-button">Login</button>
    </form>
</section>
{% endif %}

{% endblock %}