{% extends 'base.html'%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}
<section class="signup-section">
    <div>
        <h1>Sign Up</h1>
        <p>Create an account to get started with TaskFlow.</p>
    </div>
    {% if error_message %}
    <div class="error-message">
        <p>{{ error_message }}</p>
    </div>
    {% endif %}
    <form action="" method="post" autocomplete="off" class="signup-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</section>
{% endblock %}