* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightgrey;
    color: #333;
    font-size: 2.0rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 1rem;
}

header {
    background-color: white;
    font-size: 2.0rem;
    color: black;
    padding: 2rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: static;
    z-index: 1000;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #333;
    font-weight: 500;
    font-size: 2.0rem;
    text-decoration: none;
    padding: 1.25rem 1.25rem;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
}

nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

nav ul li a:focus {
    outline: none;
    border: 0.125rem solid #007bff;
}

.logout-button {
    color: #fff;
    font-weight: 500;
    font-size: 2.0rem;
    background: linear-gradient(145deg, #6c7ae0, #3498db);
    border: none;
    padding: 1.25rem 1.25rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logout-button:hover {
    background: linear-gradient(145deg, #3498db, #6c7ae0);
}

.logout-button:active {
    background: linear-gradient(145deg, #6c7ae0, #3498db);
}

.logout-button:focus {
    outline: none;
    border: 0.125rem solid #3498db;
}

main {
    max-width: 75rem;
    margin: 3rem auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 1rem;
    font-size: 2.0rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    padding: 1rem;
    font-size: 2.0rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.welcome-message {
    font-size: 2.0rem;
    font-weight: 600;
    color: #333;
    margin-top: 2rem;
    padding: 1.25rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.taskflow-welcome {
    font-size: 2.0rem;
    font-weight: 600;
    color: #333;
    margin-top: 2rem;
    padding: 1.25rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
