body {
    background-color: lightgrey;
    color: #333;
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.signup-section {
    background-color: #fff;
    padding: 1rem 5rem;
    border-radius: 8px;
    max-width: 120rem;
    margin: 2rem auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.signup-section-div {
    text-align: center;
    margin-bottom: 2rem;
}

.signup-section-h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.signup-section-p {
    font-size: 2rem;
    color: #555;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signup-form-input,
.signup-form-select,
.signup-form-textarea {
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.signup-form-input:focus,
.signup-form-select:focus,
.signup-form-textarea:focus {
    border-color: #007bff;
    outline: none;
}

.submit-btn {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.submit-btn:focus {
    outline: none;
    border: 2px solid #0056b3;
}

.task-form input, select{
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}


.task-form button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-form button:hover {
    background-color: #0056b3;
}


.delete-confirm h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.delete-confirm a {
    font-size: 2rem;
    color: #007bff;
    text-decoration: none;
    margin-right: 2rem;
}

.delete-confirm a:hover {
    color: #0056b3;
}

.delete-confirm button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
}

.delete-confirm button:hover {
    background-color: #c82333;
}
