body {
    background-color: lightgrey;
    color: #333;
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.signup-section {
    background-color: #fff;
    padding: 1rem 5rem;
    border-radius: 8px;
    max-width: 120rem;
    margin: 2rem auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.signup-section-div {
    text-align: center;
    margin-bottom: 2rem;
}

.signup-section-h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.signup-section-p {
    font-size: 2rem;
    color: grey;
}

.error-message {
    background-color: lightpink;
    color: darkred;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signup-form-input,
.signup-form-select,
.signup-form-textarea {
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.signup-form-input:focus,
.signup-form-select:focus,
.signup-form-textarea:focus {
    border-color: dodgerblue;
    outline: none;
}

.submit-btn {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.task-form input, select{
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}


.task-form button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




.task-form .errorlist{
    background-color: lightpink;
    color: darkred;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    list-style-type: none;
}

.delete-confirm h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

.delete-confirm a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: white;
    color: blue;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.delete-confirm a:hover {
    background-color: slategrey;
}

.delete-confirm button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
}


.tag-create-form table {
    width: 100%;
    
}


.tag-create-form input,
.tag-create-form select,
.tag-create-form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: ghostwhite;
}

.tag-create-form button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
}


.task-create h1 {
    text-decoration: underline;
}