body {
    background-color: lightgrey;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.welcome {
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome h1 {
    color: #333;
    font-size: 2.0rem;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 2.0rem;
    color: #666;
}

.login {
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h1 {
    font-size: 2.0rem;
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.login-form input,
.login-form select,
.login-form textarea {
    padding: 1rem;
    font-size: 2.0rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.login-form input:focus,
.login-form select:focus,
.login-form textarea:focus {
    border-color: #007bff;
    outline: none;
}

form button.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2.0rem;
}

form button.submit-button:hover {
    background-color: #2980b9;
}



form .errorlist {
    background-color: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 2.0rem;
    text-align: center;
    border: 1px solid #f5c6cb;
    list-style: none;
    
}


