th, td {
    border: 1px solid #333;
    padding: 1.0rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.day-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.date {
    font-size: 1.0rem;
    color: black;
}

td {
    vertical-align: top;
    text-align: left;
}

td ol {
    padding-left: 0;
    margin: 0;
}

td li {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.0rem;
    color: #333;
}

td p {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.0rem;
    color: #333;
}
